.back_image {
background-color: black;
}
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);
}

::-webkit-scrollbar {
  display: none;
}

.showdow {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

::-webkit-file-upload-button {
  display: none;
}
